.window-wrapper {
  margin-top: 10px;
  height: calc(100% - 150px);
}

input,
select {
  background-color: transparent;
  color: #fff;
  height: 40px;
  font-size: 18px;
  border: 1px solid var(--color-background-fourth);
  width: 100%;
  box-sizing: border-box;
  font-weight: 300;
  border-radius: var(--border-radius);
  outline: none;
}

select {
  margin-top: 50px;
  padding: 0 7px;

  &:hover {
    cursor: pointer;
  }

  option {
    background-color: var(--color-background-secondary);
  }
}

input {
  margin-top: 10px;
  padding: 0 10px;
}

.items {
  padding: 5px 0;

  .item {
    display: flex;
    padding: 5px 10px;

    &:hover {
      cursor: pointer;
      background-color: var(--color-background-fourth);
    }

    .item-image {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 80%;
        height: 80%;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 16px;
      flex: 1;

      .name {
        display: flex;
        justify-content: space-between;

        .tier {
          margin-left: 10px;
          opacity: .3;

          &:before {
            content: 'Tier';
            margin-right: 4px;
          }
        }
      }
    }
  }
}