<div class="window">
  <div class="header">
    <h3>MAIN</h3>
  </div>

  <select #categorySelect (change)="changeCategory(categorySelect.value)">
  <option disabled selected value> Select category </option>
    <option *ngFor="let item of categories">{{item}}</option>
  </select>

  <div class="window-wrapper">
    <div *ngIf="categoryName" class="items scrollbar">
      <div *ngFor="let item of items | categoryFilter:categoryName" class="item color-rarity-{{item.rarity}}"
        (click)="chooseItem(item)">
        <div class="item-image item-bg-{{item.rarity}}">
          <img [src]="'https://cdn.nwdb.info/db/v2/icons/items/'+item.itemType.toLowerCase()+'/'+item.icon.toLowerCase()+'.png'" alt="{{item.name}}">
        </div>
        <div class="title">
          <span>{{item.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-crafting *ngIf="choosedItem" [item]="choosedItem" (onClose)="choosedItem=null"></app-crafting>