<div class="window">
  <div class="header">
    <h3>Items</h3>
  </div>

  <select #categorySelect (change)="filterCategory(categorySelect.value)">
  <option disabled selected value>Category</option>
    <option *ngFor="let item of categories">{{item}}</option>
  </select>

  <input placeholder="Item" (input)="filterName($event.target.value)" type="text">

  <div class="window-wrapper">
    <perfect-scrollbar class="items">
      <div *ngFor="let item of items | itemFilter:filterArgs" class="item color-rarity-{{item.rarity}}"
        (click)="chooseItem(item)">
        <div class="item-image item-bg-{{item.rarity}}">
          <img loading="lazy" [src]="'https://cdn.nwdb.info/db/v2/icons/items/'+item.itemType.toLowerCase()+'/'+item.icon.toLowerCase()+'.png'" alt="{{item.name}}">
        </div>
        <div class="title">
          <span>{{item.name}} {{getTier(item.icon)}}</span>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
<app-crafting *ngIf="choosedItem" [item]="choosedItem" (onClose)="choosedItem=null"></app-crafting>
